{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Resultado — Sinestesia</title>
    <link rel="stylesheet" href="{% static 'logica_jogo/estilo.css' %}">
</head>
<body class="win98-bg">

<div class="window">
    <div class="title-bar">
        <div class="title">JA1</div>
        <div class="title-buttons">
            <button class="btn-min">_</button>
            <button class="btn-max">□</button>
            <button class="btn-close">X</button>
        </div>
    </div>

    <div class="window-body">

<h2>Tema: {{ tema.nome }}</h2>

<h1 class = "result">
{% if acertou %}
     (͠≖ ͜ʖ͠≖)ACERTOU!(͠≖ ͜ʖ͠≖)
{% else %}
      :( ERROU! :(
{% endif %}
</h1>
        <a href="/jogo/" class="win-button">Tente novamente(ᗒᗣᗕ)</a>
        <a href="/" class="win-button">Voltar ao início (•̀⤙•́ )</a>
    </div>
</div>

</body>
</html>
