
body {
    background-image: url("/static/logica_jogo/images/xadrez.webp");
    background-size: cover;          
    background-repeat: no-repeat;     
    background-position: center;     
    background-attachment: fixed;     
    height: 100vh;                    
    margin: 0;                        
    padding: 0;                       
     font-family: "MS Sans Serif", sans-serif;
     text-align: center;
}


.window {
    width: 420px;
    background: #c0c0c0;
    border: 2px solid #000;
    margin: 40px auto;
    box-shadow: 5px 5px 0px #000;
}


.title-bar {
    background: #000080;
    color: white;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-buttons button {
    width: 22px;
    height: 20px;
    margin-left: 4px;
    border: 2px solid #000;
    background: #c0c0c0;
    cursor: pointer;
}


.window-body {
    padding: 20px;
}

.win-button {
    display: inline-block;
    padding: 6px 12px;
    background: #dcdcdc;
    border: 2px solid #000;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.palette {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.color-btn {
    width: 32px;
    height: 32px;
    border: 2px solid black;
    cursor: pointer;
}


.color-box {
    width: 80px;
    height: 80px;
    border: 3px solid black;
    margin-bottom: 15px;
}

.result {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}



